.cartoons-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, white 100%),
    url('../../images/cartoons/avatar.jpeg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -20;
}